<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Ideia e Propósito</h5>
        </div>
        <div class="card-body">
          <div class="typography-line">
            <h4>A ideia inicial é levar o conceito de <b>finanças</b> para o ambiente doméstico!</h4>
          </div>
        </div>

        <div class="card-body">
          <div class="typography-line">
            <h4>A ideia inicial é levar o conceito de <b>finanças</b> para o ambiente doméstico!</h4>
          </div>
        </div>

      </div>
    </div>
    
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Ideia e Propósito</h5>
      </div>
      <div class="card-body">
        <div class="typography-line">
          <h4>A ideia inicial é levar o conceito de <b>finanças</b> para o ambiente doméstico!</h4>
        </div>
      </div>

      <blockquote>
        <p class="blockquote blockquote-primary">
          "A ideia inicial é levar o conceito de <b>finanças</b> para o ambiente doméstico!."
          <br>
          <br>
          <small>
            - Notação
          </small>
        </p>
      </blockquote>

    </div>
  </div>
</div>